{
  "repo_authorization": "Basic hogehoge",
  "msg_update_url": "http://repo.translator.example/entries/mygengo",
  "msg_update_api_key": "abc",
  "msg_permalink_url": "http://repo.translator.example/entries.{langs}?msgid={msgid}"
}
